html {
  margin: 0;
  padding: 0;
  display: block;
}

h3 {
  color:#525254;
  margin-left: 10px;
}

h4 a {
  color: #525254;
  margin-top: 10px 0 5px 0;
  font-size: 12.5px;
  line-height: 20.7px;
  display: block;
  font-weight: bold;
  text-align: left;

}

body {
  margin: 0;
  padding: 0;
  font-family: "helvetica", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #525254;

}

a {
  text-decoration: none;
  color: #dfdfe1;
}

div {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

/*input {
  border-radius: 2px 0 0 2px;
  border: 0;
  padding: 13px 13px;
  width: 540px;
  font-size: 18px;
  height: 22px;
  background-color: #fdfdfd;
}*/

input:focus {
  outline: 0;
}


#lastest-post {

}

.homepage-announcement {
  background-color: #000002;
}

.homepage-announcement a {
  color: #4eae49;
  display: block;
  padding: 9px 18px 9px 18px;
  text-decoration: none;
}

.muted {
  color: #dfdfe1;
}

.homepage-header {
  background-color: #1a1a1c;
  height: 390px;
  color: #d6d7d8;
  display: block;
}

.navbar {
  line-height: 50px;
}

.navbar img {
  opacity: 1;
  width: 13px;
  display: inline-block;
  margin-left: 20px;
}

.navbar a {
  display: inline-block;
  font-weight: 700;
  opacity: 0.8;
}

.navbar a:hover {
  opacity: 1.0;
}

.rightnav {
  float: right;
  margin-right: 20px;
}

/*.logo {
  margin: 0 auto 30px auto;
  height: 86px;
  width: 500px;
  background-size: 500px 86px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://cdn1.iconfinder.com/static/5a8fe200b416c5d92391aa2f64dd6322/assets/img/homepage-logo.png");
}*/

.search-area form {
  text-align: center;
}

.search-area button[type="submit"]{
  height: 48px !important;
  margin-left: -5px;
  border-radius: 0 2px 2px 0;
  border: 0 !important;
  background-color: #48a043;
  color: #fff;
  padding: 9px 18px;
  line-height: normal;
  font-family: "bariol_regularregular", "helvetica neue", helvetica, sans-serif;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  font-size: 18px;
}

.search-area .popular {
  text-align: center;
  color: #d6d7d8;
  font-size: 17px;
  opacity: 0.7;
}

.pop-search a {
  color: #fff;
}

.p-feedback {
    margin-top: 55px;
    text-align: center;
    font-size: 15px;
    opacity: 0.7;
}

.p-feedback a:hover {
  color: #4eae49;
}

.homepage-listing {
  width: 100%;
  background-color: white;
}

.style-nav {
  margin-bottom: 18px;
  width: 100%;
  z-index: 99;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 4px grey;
  display: block;
}

.style-tabs a {
  margin-left: 4px;
  display: inline-block;
  padding: 12px 13.5px 10px 13.5px;
  color: #525254;
}

.style-tabs a:hover {
  color: #469c41;
  border-bottom: 3px solid #469c41;
}

/*.container {
  width: 918px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 200px;
}*/

.content-header {
  margin-top: 30px;
}
.style-link {
  float: right;
  margin: 0;
}

/*.style-link a {
  color: #4eae49;
  font-size: 14px;
  font-weight: normal;
}*/

.style-link a:hover {
  color: #367832;
}

.row {
  margin-left: -16px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
}

.indicator-icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-image: url("https://cdn0.iconfinder.com/static/d9e0151a9c6f1252c06d45857bd5498a/assets/img/icon-format-16.png");
  background-repeat: no-repeat;
  display: inline-block;
}

.iconset {
  max-width: 216px;
  position: relative;
  display: inline-block;
  margin-left: 14px;
  padding-bottom: 20px;
}

.info {
  margin-top: 0;
  position: relative;
  text-align: left;
  padding: 0;

}

.icon-set-format{
  color: #78787A;
  position: absolute;
  top: 22px;
  right: 0;
  display: block;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  padding: 0 0 0 22px;
  vertical-align: top;
}

.free {
  color: #78787A;
  float: right;

}

.iconset-author {
  width: 148px;
  display: block;
  position: absolute;
  top: 22px;
  left: 0px;
  color: #78787A;

}

/* Small screens (default) */
/** { box-shadow: -1px -1px red, 1px 1px red;
}*/
.container {
  text-align: center;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 200px;
}

.style-link a {
  color: #4eae49;
  font-size: 14px;
  font-weight: normal;
  margin-right: 10px;
}
.logo {
  margin: 0 auto 30px auto;
  height: 50px;
  background-size: 300px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://cdn1.iconfinder.com/static/5a8fe200b416c5d92391aa2f64dd6322/assets/img/homepage-logo.png");
}

input {
  border-radius: 2px 0 0 2px;
  border: 0;
  padding: 13px 13px;
  width: 53%;
  font-size: 18px;
  height: 22px;
  background-color: #fdfdfd;
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
* {
  box-shadow: none;
}
.style-link a {
  margin-right: 60px;
}
.logo {
  margin: 0 auto 30px auto;
  height: 86px;
  background-size: 400px 66px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://cdn1.iconfinder.com/static/5a8fe200b416c5d92391aa2f64dd6322/assets/img/homepage-logo.png");
}
h3 {
  margin-left: 75px;
}

.row {
  display: inline-block;
  text-align: center;
  max-width: 600px;
}

}


/* Large screens (1024px) */
@media (min-width: 64rem) {
/** { box-shadow: -1px -1px red, 1px 1px red;
 }*/

 input {
  border-radius: 2px 0 0 2px;
  border: 0;
  padding: 13px 13px;
  max-width: 500px;
  font-size: 18px;
  height: 22px;
  background-color: #fdfdfd;
}

 h3 {
  margin-left: 150px;
 }

.row {
  max-width: 100%;
}
 .iconset {
  max-width: 216px;
  position: relative;
  display: inline-block;
  margin-left: 14px;
  padding-bottom: 20px;
}

.style-link a {
  margin-right: 160px;
}

.logo {
  margin: 0 auto 30px auto;
  height: 86px;
  width: 500px;
  background-size: 500px 86px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://cdn1.iconfinder.com/static/5a8fe200b416c5d92391aa2f64dd6322/assets/img/homepage-logo.png");
}

}
